<!DOCTYPE html >
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="dominion" > <!--<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script type="text/javascript" src="/static/js/game.js"></script>

<head>
  <meta charset="utf-8">
  <title>Game</title>
  <!--<link rel="stylesheet" href="css/style.css">-->
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
  <div id="supply" ng-controller="supplyController">
    <div id ="victoryCards">
    <img ng-src="{{card.src}}" ng-repeat="card in victoryCards">
  </div>
  <div id="treasureCards">
    <img ng-src="{{card.src}}" ng-repeat="card in treasureCards">
  </div>
  <div id="kingdomCards">
  <img ng-src="{{card.src}}" ng-repeat="card in kingdomCards">
  </div>
  <div id="miscCards">
    <img ng-src="{{card.src}}" ng-repeat="card in miscCards">
  </div>
  <div id="nonSupplyCards">
    <img ng-src="{{card.src}}" ng-repeat="card in nonSupplyCards">
  </div>
  </div>
  <frame>
    The log goes here.

  </frame>
  <div id="Hand" ng-controller = "handController">
    <img ng-src="{{card.src}}" ng-click="playCard(card.name)" ng-repeat="card in hand">
  </div>  
</body>
</html>
