<!DOCTYPE html >
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="dominion" > <!--<![endif]-->


<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script type="text/javascript" src="/static/js/game.js"></script>
  <title>Game</title>
</head>
<body>
  <div id = "game" ng-controller="GameController">

  <div id="supply">
    <div id ="{{category}}" ng-repeat = "category in categories">
    <img id = "{{card.name.lower()}}" ng-src="{{card.src}}" ng-repeat="card in supply[category]" ng-click="gainCard(card)">
  </div>

  </div>
  <div id = "log" style="overflow-y: auto; height=400px;">
    <div ng-repeat="line in state.log">
      {{line}}
    </div>
  </div>
  <div id="prompt">
    {{prompt}}
    <button ng-show="state.choice.may" ng-click="skipChoice()">skip choice</button>
    <div ng-show="isOptions()">
      <button ng-click="chooseOption(option)" ng-repeat= "option in choice['options']">{{option}}</button>
    </div>
    <button ng-hide="isOptions()" ng-show='actionPhase()' ng-click="startBuyPhase()">Skip Action Phase</button>
    <button ng-hide="isOptions()" ng-show='buyPhase()' ng-click="endTurn()">Skip Buy Phase</button>
    <button ng-click="playAllTreasures()" ng-hide="isOptions()" ng-show='buyPhase()'>+${{state.coinInHand}}</button>
    <div id="turnInfo">
      Actions: {{actions}}
      Buys: {{buys}}
      Coin: {{coins}}
      {{state}}
    </div>
  </div>
  <div id="hand" >
    <img ng-src="{{card.src}}" ng-click="playCard(card)" ng-repeat="card in hand">
  </div>
</div>
</body>
</html>
